<h1>Contact Us</h1>
<ul class="contact">
	<li class="mail"><a href="#">Mailing List</a></li>
	<li class="twitter"><a href="http://twitter.com/#!/hacmanchester">Twitter @hacmanchester</a>
	<ul class="tweets">
		<li>HACMan @ Brighton Mini MakerFaire trip report http://blah <div><abbr class="time" title="10:32am, 10th September 2011">3 Hours ago</abbr> <a href=#>&gt;&gt;</a></div></li>
		<li>Come along to our open hack session tonight, 7pm to 11pm, at @madlabuk! <div><abbr class="time" title="10:15am, 7th September 2011">4 days ago</abbr> <a href=#>&gt;&gt;</a></div></li>
		<li>Come along to our open hack session tonight, 7pm to 11pm, at @madlabuk! <div><abbr class="time" title="10:15am, 31st August 2011">13 days ago</abbr> <a href=#>&gt;&gt;</a></div></li>					
	</ul>
	</li>
	<li class="flickr"><a href="#">Flickr</a>
	<ul class="images">
		<li><a href="#"><img src="images/cache/1.jpg"/></a></li><li><a href="#"><img src="images/cache/2.jpg"/></a></li><li><a href="#"><img src="images/cache/3.jpg"/></a></li><li><a href="#"><img src="images/cache/1.jpg"/></a></li><li><a href="#"><img src="images/cache/2.jpg"/></a></li><li><a href="#"><img src="images/cache/3.jpg"/></a></li><li><a href="#"><img src="images/cache/1.jpg"/></a></li><li><a href="#"><img src="images/cache/2.jpg"/></a></li><li><a href="#"><img src="images/cache/3.jpg"/></a></li>		
	</ul></li>
</ul>
