{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article class="blog {{class if class}}">
<div class="title" {% if res.meta.image %}style="background-image:url({{ media_url(res.meta.image) }})"{% endif %}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}"><time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time></a>
</div>
{{ post.excerpt|markdown|typogrify }}
<a class="rm" href="{{ content_url(res.url) }}">Read More</a>
</article>
{% endmacro %}

{% macro render_project(res, class=None) %}
{% refer to res.url as post %}
<article class="project {{class if class}}">
<a href="{{ res.meta.exturl or content_url(res.url) }}"><h3>{{ res.meta.title }}</h3>
<div class="title" {% if res.meta.image %}style="background-image:url({{ res.meta.extimg or media_url(res.meta.image) }})"{% endif %}></div></a>
{{ post.excerpt|markdown|typogrify }}
<i>{% if res.meta.creator %}<a {%if res.meta.creatorurl%}href="{{res.meta.creatorurl}}"{%endif%}>{{res.meta.creator}}</a>{%else%}anonymous creator{%endif%}</i>
</article>
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
    <ul>
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% set classes = ['button', 'white'] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li>
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ content_url(item.url) }}">
                {{ item.name }}
            </a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{%- endif %}
{%- endmacro %}
