{% extends "base.j2" %}

{% block title %}
{{resource.meta.title}} - HAC:Manchester News
{% endblock %}

{% block postinfo %}
<br/>Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
{% endblock %}

{% block blognav %}
<nav class="post_nav">

<a class="next{{' disabled' if not resource.next_by_time }}"
    title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
    Older
</a>

<a class="backlink" href="{{ content_url(resource.node.url) }}">Back to News</a>

<a class="prev{{' disabled' if not resource.prev_by_time }}"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
    Newer
</a>

</nav>
{% endblock %}

{% block main %}
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
{% endblock %}
