{% extends "base.j2" %}

{% block title %}
{{resource.meta.title}} - HAC:Manchester Projects
{% endblock %}



{% block image %}

	<div class="banner">
		<div class="projectimage" {% if resource.meta.image %} style="background-image:url({{ media_url(resource.meta.image) }})"{% endif %}>&nbsp;</div>
		<h1>{{ resource.meta.title }}</h1>
		<h2>{{ resource.meta.byline }}</h1>
		<br/>Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}<br/>
		<i>{% if resource.meta.creator %}<a {%if resource.meta.creatorurl%}href="{{resource.meta.creatorurl}}"{%endif%}>{{resource.meta.creator}}</a>{%else%}anonymous creator{%endif%}</i>
	</div>
{% endblock %}

{% block blognav %}
<nav class="post_nav">

<a class="next{{' disabled' if not resource.next_by_time }}"
    title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ resource.next_by_time.meta.exturl or content_url(resource.next_by_time.url) }}"{% endif %}>
    Previous Project
</a>

<a class="backlink" href="{{ content_url(resource.node.url) }}">Back to Project List</a>

<a class="prev{{' disabled' if not resource.prev_by_time }}"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ resource.prev_by_time.meta.exturl or content_url(resource.prev_by_time.url) }}"{% endif %}>
    Next Project
</a>

</nav>
{% endblock %}

{% block main %}
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
{% endblock %}
