<h1>Friends &amp; Sponsors</h1>
<ul class="sponsors"> 
	<li><a href="http://bitfolk.com/"><img src="{{media_url('images/sponsors/bitfolk.png')}}"/></a></li> 
	<li><a href="http://madlab.org.uk"><img src="{{media_url('images/sponsors/madlab.png')}}"/></a></li> 
</ul> 
