/* BASIC LAYOUT */
body 
{
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

a:link, a:hover, a:active, a:visited
{
	color: white;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

div#main  /* positioning */
{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -475px;
	width: 950px;

}

div#main  /* colouring */
{
	background-color: black;
	background-image: url("../images/biglogo.png");
	background-repeat: no-repeat;
	background-position: 580px 10px;	
}
/*  END BASIC LAYOUT  */





/*  HEADER  */
div#main ul.menu
{
	height: 150px;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 650px;
	border-bottom: 1px solid white;
}

div#main ul.menu li
{
	float: left;
	border-right: 1px solid white;
	list-style: none;
}

div#main ul.menu li a
{
	display: block;
	height: 20px;
	padding-top: 80px;
	padding: 130px 20px 0 20px;
	line-height: 100%;
}

div#main ul.menu a:hover
{
	text-decoration: none;
	background-color: #e6e64c;
	color: black;
}
/*   END HEADER   */




/*   FOOTER   */
div#footer
{
	clear: both;
}

div#footer ul.menu
{
	display: none;
	border-top: 1px solid white;
	border-bottom: none;
	height: 1em;
}

div#footer ul.menu li a
{
	display: block;
	padding: 0 20px 0 20px;
}
/*   END FOOTER   */




/*   RIGHT MENU BAR   */
div#right
{
	width: 299px;
	float: right;
	border-left: 1px solid white;
	padding-top: 160px;
	text-align: center;
}

div#right hr
{
	border-top: 1px solid white;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

div#right h1
{
	font-size: 1.4em;
	margin: 0;
	font-family: courier, monospace;
}

table.events
{
	font-size: 9pt;
	text-align: center;
	width: 80%;
	margin: 0 10% 15px 10%;
	border-collapse: collapse;
}

table.events td
{
	color: #666666;
	border: 1px solid #cccccc;
	margin: 0;
	padding: 0;
}

table.events td a
{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #666666;
}
/*   END RIGHT MENU BAR   */

ul.contact 
{
	list-style-type: none;
	width: 230px;
	text-align: left;
}

ul.contact li
{
	margin-top: 16px;
	font-size: 1.1em;
}

ul.contact li.mail
{
	list-style-image: url(../images/icons/sm/email.png);
}

ul.contact li.twitter
{
	list-style-image: url(../images/icons/sm/twitter.png);
}

ul.contact li.twitter ul.tweets
{
	padding: 0;
}

ul.contact li.twitter ul.tweets li
{
	list-style: none;
	font-size: 9pt;
	margin-top: 5px;
	color: #ccc;
	text-align: justify;
}

ul.contact li.twitter ul.tweets div
{
	text-align: right;
}

ul.contact li.twitter ul.tweets a
{
	color: #ccc;
}

ul.contact li.twitter ul.tweets abbr
{
	color: #fff;
}

ul.contact li.flickr
{
	list-style-image: url(../images/icons/sm/flickr.png);
}

ul.contact li.flickr ul.images
{
	padding: 0;
	margin: 5px 0 0 0;
}

ul.contact li.flickr ul.images li
{
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
	display: inline;
}

ul.contact li.flickr ul.images li img
{
	padding: 0;
	margin: 0;
	border: 0;
}

ul.sponsors
{
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

ul.sponsors li
{
	margin-top: 6px;
}

div.col2
{
	width: 650px;
}

div.col2 div.banner
{
	width: 100%;
	height: 180px;
	background-position: top right;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	text-align: right;
}

div.col2 div.banner h1, div.col2 div.banner h2
{
	margin: 0 5px 0 0;
	padding: 0;
}

div.col2 div.banner h1
{
	font-family: "courier", monospace;
	font-size: 2.6em;
}

div.col2 div.banner h2
{
	font-size: 1.4em;
}

div.col2 p
{
	padding: 0 10px 0 10px;
	text-align: justify;
}